@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Ubuntu+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header-title {
  position: fixed;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#207ce5), color-stop(50%, #4195e9), to(rgba(73, 155, 234, 0)));
}

.header-title__text {
  padding: 25px 0px 35px 0px;
  color: #dceff8;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 700;
  font-size: calc(24px + 16 * (100vw / 900));
  text-align: center;
  text-shadow: 2px 2px 12px #000000;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-image: url(../img/man.png);
  background-repeat: no-repeat;
  background-position: 50% 25px;
  background-attachment: fixed;
  background-size: cover;
}

.content {
  background-color: rgba(253, 241, 207, 0.863);
  padding: 80px 0px 20px 0px;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.wraper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
}

.section {
  margin: 25px 0px 0px 0px;
}

.section:first-child {
  margin: 0;
}

.main-mind {
  height: auto;
  text-align: center;
}

h2 {
  background-color: rgba(177, 128, 55, 0.726);
  font-size: calc(24px + 12 * (100vw / 1170));
  font-weight: 700;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 20px 3px 20px 3px;
  margin: 0px 0px 5px 0px;
  border: solid 1px;
  border-color: rgba(63, 45, 18, 0.548);
  border-radius: 25px;
  overflow: hidden;
  text-shadow: 2px 2px 6px #00000091;
}

h3 {
  background-color: rgba(243, 198, 129, 0.726);
  font-size: calc(20px + 12 * (100vw / 1170));
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 15px 3px 20px 3px;
  text-shadow: 2px 2px 6px #00000091;
}

h4 {
  font-size: calc(18px + 12 * (100vw / 1170));
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 16px 3px 5px 3px;
  text-shadow: 2px 2px 6px #00000091;
}

.sub-mind {
  margin: 5px 0 0 0;
  border: solid 1px;
  border-color: rgba(63, 45, 18, 0.548);
  border-radius: 15px;
  overflow: hidden;
}

.sub-mind:first-child {
  margin: 0;
}

.sub-mind__text {
  font-size: calc(16px + 12 * (100vw / 1170));
  font-family: 'Caveat', cursive;
  padding: 3px;
  text-shadow: 2px 2px 6px #00000091;
}

@media (max-width: 479.98px) {
  .header-title__text {
    padding: 16px 0 20px 0;
  }

  .content {
    padding: 55px 0px 20px 0px;
  }

  .wraper {
    padding: 5px;
  }

  h2 {
    padding: 8px 3px 8px 3px;
  }

  h3 {
    padding: 3px;
  }

  h4 {
    padding: 3px;
  }
}

.webp .container{ background-image: url(../img/man.webp); }